// Place all the styles related to the homes controller here.
// They will automat<ically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top-wrap {
  margin: 33px;
  line-height: 18px;
  font-size: 13px;
}

.top-comment p,.top-start{
  margin: 33px;
}